@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    font-family: 'Manjari', sans-serif !important;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar{
    background-color: rgba(30,32,53,.6);
    border-bottom: 1px solid #fff;
    padding: 20px;
}

.navbar button{
    margin: 6px;
    border: 1px solid #ff005d;
}

.navbar a{
    font-size: 1.2em; 
    margin: 0 10px;
    color: #fff;
    font-family: 'Patrick Hand', cursive;
}

.navbar a:hover{
    color: #ff005d;
    transition: .5s;
}

.navbar .login{
    color: #00fff2;
}

.navbar .login:hover{
    color: #00ff73;
}

.login{
    color: #fff;
    
    padding: 40px;
    background-color: rgba(30,32,53,.6);
    width: 40%;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 50px;
    margin-bottom: 100px;
}

.login h1{
    font-size: 2.7em;
    text-align: center;
    margin-bottom: 20px;
}

form{
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 1.2em;
    text-align: left;
}

form input{
    padding: 10px 0;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 5px 2px rgba(75, 76, 92, 0.6);
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

form input:focus{
    background-color: rgba(75, 76, 92, 0.6);
}

.enviar-form input{
    background-color: rgba(106, 115, 240, 0.6);
    cursor: pointer;
    width: 100px;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Manjari', sans-serif;
}