@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    font-family: 'Manjari', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar{
    background-color: rgba(30,32,53,.6);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.navbar .ap-logo{
    width: 150px;
    height: 90px;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li{
   margin: 30px 5px;
}

.menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    padding: 10px 15px;
    font-family: 'Patrick Hand', cursive;
}

.menu a:hover{
    color: #b49cf7;
}

.inicio{
    margin: 200px;
    color: #FFFFFF;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.inicio span{
    display: block;
    font-size: 4em;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 23ch;

    animation: typing 3s steps(23), blink .5s infinite step-end alternate;

    overflow: hidden;
}

.inicio h3{
    font-size: 2em;
    
}

.inicio p{
    margin: 10px;
    font-size: 1.5em;
}
.inicio a{
    font-size: 2.5em;
    margin: 15px;
    color:#fff;
}

.texto-inicio{
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
}

.sobre-mi{
    background-color: transparent;
    padding: 40px;
    color: #fff;
}

.sobre-mi h1{
    font-size: 3em;
    margin-bottom: 25px;
    text-align: center;
}

.sobre-mi p{
    font-size: 1.5em;
    text-align: justify;
}

.portfolio{
    color: #fff;
    padding: 40px;
}

.portfolio h1{
    font-size: 3em;
    margin-bottom: 25px;
    text-align: center;
}

.portfolio p{
    font-size: 1.5em;
}

.habilidades{
    color: #fff;
    padding: 40px;
}

.habilidades h1{
    text-align: center;
    font-size: 3em;
    
}

.habilidades img{
    display: inline-block;
    margin: 10px;
}

.habilidades img:hover{
    width: 220px;
    transition: .5s;
}

.habilidades img:not(:hover){
    transition: .5s;
}

.html, .java, .sql, .spring, .bootstrap{
    width: 200px;
}

.js, .angular, .css{
    width: 160px;
}

.contacto{
    color: #fff;
    padding: 40px;
    background-color: rgba(30,32,53,.6);
    width: 60%;
    margin: 0 auto;
    border-radius: 50px;
}

.contacto h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}
.contacto p{
    text-align: center;
    font-size: 1.5em;
}

.contacto .redes{
    width: 100%;
    text-align: center;
}

.contacto a{
    margin: 15px;
    display: inline-block;
    font-size: 2em;
    color: #fff;
}

form{
    width: 50%;
    margin: 0 auto;
}

form label{
    font-size: 1.5em;
    text-align: left;
}

form input{
    padding: 10px 0;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 5px 2px rgba(75, 76, 92, 0.6);
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

form input:focus{
    background-color: rgba(75, 76, 92, 0.6);
}

.mensaje-form input{
    height: 200px;
    margin-bottom: 30px;
}

.enviar-form input{
    background-color: rgba(106, 115, 240, 0.6);
    cursor: pointer;
    width: 100px;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Manjari', sans-serif;
}